/* 
    Created on : 07/09/2016, 18:51:02
    Author     : Flávio & Carlos Ramiro
*/
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
*{
    margin:0px;
    padding:0px;
}

#telaSplash{
    width: 750px;
    margin: auto;
    height: 600px;
    background-color: #676;
}

#telaSplash h1{
    font-family: 'FonteLogo';
    font-size: 50pt;
    text-align: center;
    color:#fff;
    margin-top: 80px;    
}

#telaSplash p{
    color: #333;
    text-align: center;
    margin-top: 40px;
}

#form-login{
    width: 300px;
    margin: 70px auto 0px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#form-login p{
    color: #ccc;
}

#topo{
    width: 960px;
    height: 58px;
    margin: auto;
    background-color: #676;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #333;
}

#form-pesquisa{
    margin-top: 20px;
}

#campo-pesquisa{
    width: 350px;
    height: 25px;
    border-radius: 6px;
}

#botao-pesquisa{
    width: 80px;
    height: 28px;
    border-radius: 6px;
}

#logo{
    width: 280px;
    height: 70px;
    float: left;
}

#logo h1{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

#pesquisa{
    width: 460px;
    height: 70px;
    float:left;
}

#inscrever{
    width: 460px;
    height: 70px;
    float:left;
}

#inscrever p{
    padding: 20px;
    float: right;
}

#entrar p{
    padding: 20px;
}

#usuario-logado{
    width: 200px;
    height: 70px;
    float:right;
}

#perfil-professor{
    width: 400px;
    padding: 20px;
}

#form-participantes-debate{
    width: 400px;
    padding: 20px;
}

#entrar{
    width: 200px;
    height: 70px;
    float:right;
}
#usuario-logado{
    margin: auto;
}

#usuario-logago ul li{
    display: inline;
    list-style-type: none;	
}

#usuario-logado p{
    margin-top: 25px;
}

#usuario-logado img{
    float: left;
    margin-top: 25px;
}

#conteudo-principal{
    width: 960px;
    height: auto;
    margin: auto;
}

#conteudo{
    width: 960px;
    display: flex;
    margin: auto;
}

/*conteudo do meio*/
#campo-postagem{
    width: 350px;
    height: 40px;
    border-radius: 6px;
}
#botao-postagem{
    width: 80px;
    height: 28px;
    border-radius: 6px;
}

#conteudo-esquerdo{
    width: 196px;    
}

#caixa-postagem{
    width: 440px;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 50px;
    padding: 10px;
}

#menu{
    width: 192px;
    border: 1px solid #ccc;
    border-radius: 6px;
    float: left;
    height: auto;
    box-shadow: 1px 1px 1px #888888;
}

#menu img{
    margin-left: 26px;
}

#menu a{
    padding: 10px;
}

#atividades{
    width: 192px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    float: left;
    height: auto;
    box-shadow: 1px 1px 1px #888888;    
}

#atividades li{
    list-style: none;
}

#atividades ul{
    padding: 16px;
}

#ajuda{
    width: 192px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    float: left;
    height: auto;
    box-shadow: 1px 1px 1px #888888;    
}

#ajuda li{
    list-style: none;
}

#ajuda ul{
    padding: 16px;
}

#menu ul{
    padding: 6px;
}

#menu li{
    list-style: none;
}

#menu-social{
    width: 192px;
    float: left;
}

#menu-social ul{
    padding: 6px;
}

#menu-social li{
    list-style: none;
}

#conteudo-meio{
    width: 490px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0px 6px 0px 6px;
    box-shadow: 1px 1px 1px #888888;
}

#cria-debates{
    width: 490px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0px 6px 0px 6px;
    box-shadow: 1px 1px 1px #888888;
}

#conteudo-direita{
    width: 250px;
    float:right;
}
/**************participantes debate***************************/
#participantes-debate{
    padding: 6px;
    width: 244px;    
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #888888;
}

#participantes-debate h3{
    font-size: 18pt;
    color:#ccc;
}

#participantes-debate img{
    float: left;
}

#participantes-debate li{
    list-style: none;
    padding: 4px;
}


/*****************fim participantes debate************************/

#rodape{
    width: 960px;
    height: auto;
    margin: auto;
    clear: both;
}

/*conteudo da direita*/

/************debates*****************/
#debates-abertos{
    padding: 6px;
    margin-top: 6px;
    width: 244px;    
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #888888;
}

#debates-abertos h3{
    font-size: 18pt;
    color:#ccc;
}

#debates-abertos img{
    float: left;
}

#debates-abertos li{
    list-style: none;
}

#debates-abertos li{
    padding: 4px;
}

/****************educadores*******************/

#educadores-destaque{
    padding: 6px;
    width: 244px;    
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #888888;
}
#educadores-destaque h3{
    font-size: 18pt;
    color:#ccc;
}

#educadores-destaque img{
    float: left;
}

#educadores-destaque li{
    list-style: none;
}

#educadores-destaque li{
    padding: 4px;
}

/*conteudo da esquerda*/
#postagens{
    width: 482px;
}

#postagens li{
    list-style: none;
    float: left;
    border-bottom: 1px solid #ccc;
    width: 478px;
}

#postagens li{
    padding: 6px;
}

#postagens table{
    width: 462px;
}

#postagem-rapida{
    width: 482px;
    padding: 10px;
}

#lista-orientandos ul li{
    list-style-type: none;	
    display: inline-block;
}
